<section class="center-vertical">

	<h2>コメントの更新</h2>

    <form class="form-inline" action="/posts/<%= @post.id %>" method="post">
      <input class="form-size" name="comment">
      <input class="form-size" type="submit" value="更新">
    </form>

</section>